<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Listagem de Cadastros</title>
</head>
<body>
    <div id="lista">
       
    </div>
    <select name="teste" id="teste">
        
    </select>

    <script>
        list()
        function list(){
        $.ajax({
            url: "/show",
            method: "post",
        }).done(dados=>{
            console.log(dados['nome'])
            for(i in dados){
                console.log(dados[i])
                // Mostrando no Select
                $('#teste').append('<option value="'+dados[i]._id+'">'+dados[i].nome+'</option>')
                // Mostrando na Lista
                $('#lista').append(dados[i].nome +" "+dados[i].sobrenome+"<br>")
            }
        })
        }
</script>
</body>
</html>